 nav{
    background: rgba(0,0,0,0.3);
    width: max-content;
    padding: 0.7rem 1.7rem;
    display: block;
    z-index: 2;
    position: fixed;
    left: 50%;
    display: flex;
    bottom: 2rem;
    gap: 0.8rem;
    border-radius: 3rem;
    transform: translateX(-50%);
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display:flex;
    color: var(--color-light);
    font-size: 1.1rem;
}
nav a:hover{
    background: rgba(0,0,0,0.3);
}
nav a.active{
    background:var(--color-bg);
    color: var(--color-white);
}

